{% extends "base.html" %}

{% block content %}
	<h1>Album Ratings for {{ user.username }}</h1>
	<hr>
	<table>
		<tbody>
			<tr>
				<th>Album Art</th>
				<th>Album Name</th>
				<th>Album Artist</th>
				<th>Album Label</th>
				<th>Best Track</th>
				<th>Rating</th>
			</tr>
			{% for album in albums %}
			<tr>
				<td>
					<a href="{{ url_for('task_list.album_info', album_id=album[0].album_spotify_id) }}">
						<img src="{{ album[0].art_url }}" height="128" width="128">
					</a>
				</td>
				<td>
					<a href="{{ album[0].album_url }}">{{ album[0].album_name }}</a>
				</td>
				<td>{{ album[0].artist_id }}</td>
				<td>{{ album[0].label_id }}</td>
				<td>{{ album[1].best_track }}</td>
				<td>{{ album[1].overall_rating }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}